[user]
	name = "Minh Tran"
  email = "trankhaiminh0911@gmail.com"
[alias]
	co = checkout
	br = branch
	st = status
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
